				<!--Written by Nguyen Duc Khoa (duckhoa@ctu.edu.vn)-->
    <link rel="stylesheet" href="~/css/DanhmucDulieumau.css">
    <script src="~/js/DanhMucDulieumauScripts.js"></script>

 <div id="map"></div>						<!--thêm thẻ div để chứa bản đồ-->
