<!--https://viblo.asia/p/nodejs-tutorial-phan-7-su-dung-ejs-lam-template-engine-trong-express-Do754N74ZM6-->

<!DOCTYPE html>
<html>
<head>
    <title>Bản đồ nền</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!--Download Leaflet: https://unpkg.com/browse/leaflet@1.6.0/dist/ -->
    <link rel="stylesheet" href="css/leaflet.css">  <!--liên kết css của leaflet-->
    <script src="js/leaflet.js"></script>			<!--liên kết js của leaflet-->
    <link rel="stylesheet" href="css/leaflet.draw.css">
    <script src="js/leaflet.draw.js"></script>

	<script src="js/jquery-3.5.1.min.js"></script>
	<script src="js/wkx.js"></script>
	<script src="js/wellknown.js"></script>
	<script src="js/Dulieumau.js"></script>
    <link rel="stylesheet" href="css/Dulieumau.css">
</head>
<body>
    <div id="map"></div>	<!--thêm thẻ div để chứa bản đồ-->
</body>
</html>