.users
  p Lấy từ file Pug
  table
    thead
      tr
        th  Name
        th  Email
        th  Age
    tbody
      tr
        td  User1
        td  user1@gmail.com
        td  31
      tr
        td  User2
        td  user2@gmail.com
        td  20
      tr
        td  User1
        td  user3@gmail.com
        td  25