<div class="users">
Lấy từ file HTML
<table>
    <thead>
        <tr>
            <th> Name </th>
            <th> Email </th>
            <th> Age </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> User1 </td>
            <td> user1@gmail.com </td>
            <td> 31 </td>
        </tr>
        <tr>
            <td> User2 </td>
            <td> user2@gmail.com </td>
            <td> 20 </td>
        </tr>
        <tr>
            <td> User1 </td>
            <td> user3@gmail.com </td>
            <td> 25 </td>
        </tr>
    </tbody>
</table>
</div>
